.client__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
}

.client__link {
    width: 210px;
    display: flex;
    @media screen and (min-width:1200px){
        width: 170px;
    }
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--icon-color);
    border-color: var(--icon-color);
    transition: background-color 250ms var(--time-function),
        color 250ms var(--time-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.client-icon {
    fill: currentColor;
}