.filter__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.filter__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondory-font-color);
    background: var(--section-team-bg-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color 250ms var(--time-function),
        color 250ms var(--time-function), box-shadow 250ms var(--time-function);

        &:hover,
        &:focus {
            color: var(--main-light-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}