.team {
  width: 100%;
  background-color: var(--section-team-bg-color);

      &__list {
        @extend %list;
        display: flex;
        gap: 30px;
        @media screen and (max-width:767px) {
          flex-direction: column;
      }
        @media screen and (min-width:768px) {
          flex-wrap: wrap;
        }

        @media screen and (min-width:1200px) {
          flex-direction: row;
        }
      }

      &__box {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
      
        background-color: var(--main-light-color);
        text-align: center;

        @media screen and (min-width:768px) {
          width: 354px;
        }

        @media screen and (min-width:1200px) {
          width: 270px;
        }
      }

      &__title {
        margin-bottom: 10px;
      
        color: var(--secondory-font-color);
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
      }
      &__text {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
      }
  }


.icon__list {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);
    fill: currentColor;
    background-color: var(--main-light-color);
    transition: background-color 250ms var(--time-function),
        color 250ms var(--time-function);
  
      &:hover,
      &:focus {
        color: var(--main-light-color);
        background-color: var(--accent-color);
      }
    }
}
