html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--main-light-color);
  color: var(--main-font-color);
  margin: 0;

  &.modal-open {
    overflow: hidden;
  }
}

%list {
  list-style: none;
}

%link {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px){
    width: 480px;
  }
  @media screen and (min-width: 768px){
    width: 768px;
  }
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondory-font-color);
  text-align: center;
  margin-bottom: 50px;
}